In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Patients = pd.read_excel("HospitalDatabase .xlsx", "Patients")
EDVisits = pd.read_excel("HospitalDatabase .xlsx", "EDVisits")
AmbulatoryVisits = pd.read_excel("HospitalDatabase .xlsx", "AmbulatoryVisits")
ReAdmissionRegistry = pd.read_excel("HospitalDatabase .xlsx", "ReAdmissionRegistry")
Discharges = pd.read_excel("HospitalDatabase .xlsx", "Discharges")
Providers = pd.read_excel("HospitalDatabase .xlsx", "Providers")
EDUnique = pd.read_excel("HospitalDatabase .xlsx", "EDUnique")
Merged = pd.merge(Patients, Discharges, on="PatientID")
Merged1 = pd.merge (Patients, ReAdmissionRegistry, on="PatientID", how="left")

In [3]:
df = pd.read_excel("HospitalDatabase .xlsx")
df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

In [1]:
###Not applicable

In [8]:
# Write a regular expression to find all the digits and numbers in the string.

import re
str = 'I live at 3456 Jackson St -80606'
x = re. findall('[0-9]+', str)
print(x)

['3456', '80606']

In [10]:
###46 Code to split a sentence into words using regex

# string with words separated by a combination of underscore and comma

import re
#a string
str = 'The__food,,is,_getting_,cold'
chunks = re.split('[_,][_,]',str)
#print chunks
print(chunks)

['The', 'food', 'is', 'getting', 'cold']

In [ ]:
###Not Applicable

In [28]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [37]:
# Number of patients based on Service

df = Merged.groupby(['Service']).count().unstack(fill_value=0)
df.head()

           Service
PatientID  Cardiology           95
           General Medicine    263
           Hospitalist         101
           ICU                 151
           Neurology            65
dtype: int64

In [38]:
# Number of patients based on Primary Diagnosis

df = Merged.groupby(['PrimaryDiagnosis']).count().unstack(fill_value=0)
df.head()

           PrimaryDiagnosis
PatientID  AMI                 48
           Afib                11
           Broken Leg           9
           Diabetes            64
           Fever               19
dtype: int64

In [40]:
# Number of patients based on Service and Primary Diagnosis

df = Merged.groupby(['Service','PrimaryDiagnosis']).count().unstack(fill_value=0)
df.head()

                 PatientID                                                   \
PrimaryDiagnosis       AMI Afib Broken Leg Diabetes Fever Flu Heart Failure
Service
Cardiology              40   10          3        0     0   2            39
General Medicine         0    0          3       38    13  54             0
Hospitalist              1    0          3       26     3  19             0
ICU                      5    1          0        0     3   3            33
Neurology                2    0          0        0     0   2             6

                                                           ...  \
PrimaryDiagnosis Hip Fracture Hypertension Kidney Failure  ...
Service                                                    ...
Cardiology                  0            0              1  ...
General Medicine            0           35             12  ...
Hospitalist                 0            6              6  ...
ICU                         0            4              1  ...
Neurology                   0            5              0  ...

                 ExpectedMortality                              \
PrimaryDiagnosis      Hip Fracture Hypertension Kidney Failure
Service
Cardiology                       0            0              1
General Medicine                 0           35             12
Hospitalist                      0            6              6
ICU                              0            4              1
Neurology                        0            5              0

                                                                      \
PrimaryDiagnosis Knee Replacement Laceration Migraine Pain Pneumonia
Service
Cardiology                      0          0        0    0         0
General Medicine                0         21        0    0        67
Hospitalist                     1          7        0    0        28
ICU                             0          1        0    0        77
Neurology                       0          0       12    7         5


PrimaryDiagnosis Spinal Cord Injury Stroke
Service
Cardiology                        0      0
General Medicine                  0     20
Hospitalist                       0      1
ICU                               2     21
Neurology                         0     26

[5 rows x 221 columns]

In [126]:
#Details of the providers where providerId is between 11 and 20 and ProviderSpecialty is Surgery

Providers.loc ['b12' : 'b21']
df1 = Providers[Providers["ProviderSpecialty"] == 'Surgery']
print (df1)

    ProviderID     ProviderName ProviderSpecialty     ProviderDateOnStaff
9           10         Fred Man           Surgery 1998-03-17 01:47:18.794
10          11     Kim Kimberly           Surgery 1998-05-10 14:47:29.468
11          12         Sarah Ab           Surgery 1998-08-18 05:22:40.762
12          13  Abigail Marriot           Surgery 1998-11-08 12:25:45.705
13          14          Dave Yu           Surgery 1999-06-26 16:18:57.436
14          15  Christian Saint           Surgery 2000-08-27 00:12:40.326
15          16     Perry Pardon           Surgery 2001-02-13 11:49:17.862

In [148]:
# Retrieve the rows where SBP<140 and DBP<80.

AmbulatoryVisits[(AmbulatoryVisits["BloodPressureSystolic"] < 140) & 
(AmbulatoryVisits["BloodPressureDiastolic"] < 80) ]

,VisitID,PatientMRN,ProviderID,DateofVisit,DateScheduled,VisitDepartmentID,VisitType,BloodPressureSystolic,BloodPressureDiastolic,Pulse,VisitStatus
5,809,894,31,2019-03-13,2019-02-28 10:28:01.091,2,Physical,121.0,57.692485,60.402573,No Show
16,707,859,36,2019-03-16,2019-02-26 17:42:39.779,6,Follow Up,137.0,72.756586,64.071361,No Show
18,503,887,12,2019-01-21,2019-01-07 06:04:17.575,7,Follow Up,131.0,74.163851,97.248671,No Show
19,710,862,1,2019-03-19,2019-03-03 11:39:03.145,9,Telemedicine,127.0,66.406797,94.537837,No Show
23,711,863,1,2019-03-20,2019-03-10 07:34:56.766,10,Telemedicine,124.0,77.303553,77.926874,No Show
...,...,...,...,...,...,...,...,...,...,...,...
909,177,815,32,2019-02-22,2019-02-04 06:53:41.987,9,Follow Up,122.0,67.615828,52.742629,Canceled
929,786,871,34,2019-03-25,2019-02-26 09:48:42.832,3,Telemedicine,122.0,78.210501,53.760978,Canceled
932,394,623,6,2019-02-05,2019-01-10 05:43:34.544,9,Physical,130.0,75.114100,80.951071,Canceled
941,399,638,11,2019-02-10,2019-02-02 20:49:56.868,2,Physical,121.0,64.896818,68.496869,Canceled
943,403,650,15,2019-02-14,2019-02-11 00:47:42.216,6,Physical,129.0,68.506636,62.732434,Canceled

NameError: name 'Providers' is not defined